<ons-list-item>
    <div class="center">
      <span class="list-item__title">Crime</span>
      <span class="list-item__subtitle">{crime}</span>
    </div>
</ons-list-item>
<ons-list-item>
    <div class="center">
      <span class="list-item__title">Date Reported</span>
      <span class="list-item__subtitle">{date_reported}</span>
    </div>
</ons-list-item>
<ons-list-item>
    <div class="center">
      <span class="list-item__title">Address</span>
      <span class="list-item__subtitle">{address}</span>
    </div>
</ons-list-item>
<ons-list-item>
    <div class="center">
      <span class="list-item__title">Details</span>
      <span class="list-item__subtitle">{details}</span>
    </div>
</ons-list-item>
<ons-list-item>
    <div class="center">
      <span class="list-item__title">Image</span>
      <span class="list-item__subtitle">{image_view}</span>
    </div>
</ons-list-item>